[Unit]
Description=UiTHack Source server
After=network.target

[Service]
Type=simple
User=source
WorkingDirectory=/srv/source
ExecStart=/usr/bin/gunicorn -w 4 -b 0.0.0.0:1337 source:app

[Install]
WantedBy=multi-user.target
