[Unit]
Description=UiTHack Calculator exploit server
After=network.target

[Service]
Type=simple
User=calculator
WorkingDirectory=/home/calculator
ExecStart=/usr/bin/socat TCP-LISTEN:1337,reuseaddr,fork EXEC:"/home/calculator/calculator",stderr

[Install]
WantedBy=multi-user.target
