[Unit]
Description=UiTHack Database Handling server
After=network.target

[Service]
Type=simple
User=handle
WorkingDirectory=/srv/handle
ExecStart=/usr/bin/gunicorn -w 4 -b 0.0.0.0:1337 handle:app

[Install]
WantedBy=multi-user.target
