[Unit]
Description=UiTHack Privilege Escalation server
After=network.target

[Service]
Type=simple
User=privesc
WorkingDirectory=/home/privesc
ExecStart=/usr/bin/socat TCP-LISTEN:1337,reuseaddr,fork EXEC:"/home/privesc/privesc",stderr

[Install]
WantedBy=multi-user.target
